body{
	background-color: midnightblue;
}

#img-container{
	height:400px;
	width:500px;
	background-color: white;
	margin-left: 35%;
	margin-top:10vh;
}

img{
	height:400px;
	width:500px;
}

#button{
	margin-left: 45%;
	margin-top:10vh;
	padding:10px;
	font-size: 0.8rem;
	border-radius: 5px;
}